<div class="text-center">
  <h2>Instructions</h2>
</div>
<div class="separator-div"></div>
<div class="large-12 small-12 medium-12 animated fadeInLeft" style="margin-top: 15px;">
    <mat-card class="light-border">
      <mat-card-content>
        <p>This online test should be strictly used for Openprise Technologies Pvt Ltd.</p>
        <p>To qualify you must correctly answer at least 25 questions out of 40.</p>
        <p>No Internet usage allowed for this part of the test.  You must deposit your phones with us.</p>
        <p>No negative marking and no penalty for guessing.</p>
        <p>Do NOT copy from Others</p>
        <p>Please answer based on your understanding, DO NOT discuss with others, DO NOT seek clarifications from anyone.</p>
      </mat-card-content>
    </mat-card>
      <div class="flex-container align-center" style="margin-top: 25px;">
          <button mat-raised-button color="primary" [routerLink]="['/dashboard/test', userId]">START TEST</button>
      </div>
</div>