# .gitignore for talenthunt
bin
target
src/main/frontend/dist
src/main/frontend/npm-debug.log
# web application files
/web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

