<div class="login-img">
    <div class="middle-box" [@animationPanel] = 'state'>
        <div class="medium-12 small-12 large-12">
           <!-- <div class="logo"></div> -->
            <img src="./assets/images/Openprise_Logo.png" class="op-logo">
            <mat-card>
                <h2 class="text-center card-title">Sign in</h2>
                <form #form="ngForm" (ngSubmit) = "onSubmit(form.value)">
                    <mat-form-field>
                        <input matInput placeholder="Mobile/Email" name="userName" ngModel autofocus autocomplete="off" required>
                        <i class="material-icons small-icons">person</i>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="Password" placeholder="Password" name="password" ngModel required>
                        <i class="material-icons small-icons">lock</i>
                    </mat-form-field>
                    <button type="submit" mat-raised-button
                        color="primary" style="width: 100%">Sign in
                    </button>
                    <div class="clear-both">
                        <button type="button" class="float-right color-blue" mat-button routerLink="/register">Create account</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>