<div class="login-img">
    <div class="animated fadeInLeft middle-box">
        <div class="medium-12 small-12 large-12">
           <!-- <div class="logo"></div> -->
            <img src="./assets/images/Openprise_Logo.png" class="op-logo">
            <mat-card>
                <h2 class="text-center card-title">Sign in</h2>
                <form (ngSubmit) = "onSubmit()">
                    <mat-form-field>
                        <input matInput placeholder="Mobile" name="userName" [(ngModel)]="userName" autofocus>
                        <i class="material-icons small-icons">person</i>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" name="password" [(ngModel)]="password" type="Password">
                        <i class="material-icons small-icons">lock</i>
                    </mat-form-field>
                    <button mat-raised-button
                        color="primary" style="width: 100%">Sign in
                    </button>
                    <div class="clear-both">
                        <button type="submit" class="float-right color-blue" mat-button>Create account</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>