<div class="text-center">
  <h2>Test 1</h2> 
</div>
<div class="separator-div"></div>
<div class="float-right dyn-timer" *ngIf="_countDown">
  <h4 style="margin-bottom: 0px;">{{_countDown}}</h4>
</div>
<div class="large-12 small-12 medium-12 animated fadeInLeft" style="margin-top: 15px;">
    <mat-card class="light-border">
        <h4> Question: {{questions?.questionNumber}} </h4>
        <mat-card-content>
          <p>{{questions?.question}}</p>

          <mat-radio-group class="radio-group" [(ngModel)]="answer">
              <mat-radio-button class="radio-button" *ngFor= "let choice of questions?.choices" [value]="choice">
                {{choice}}
              </mat-radio-button>
          </mat-radio-group>

        </mat-card-content>
        <div class="float-right">
          <button mat-raised-button color="primary" [disabled]="_countDown == '0 Min : 00 Sec'">Next</button>
        </div>
    </mat-card>
</div>