
.mat-card::after{
    clear:both;
    content:" ";
    display:block;
}
.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}

.selected-value {
  margin: 15px 0;
}

.dyn-timer{
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  opacity: 0.8;
  position: relative;
  bottom: 40px;
}

.alert-colors{
  animation: example 3s infinite;
  -webkit-animation: example 3s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {background-color: #E80000;}
  to {background-color: #ffcc00;}
}

/* Standard syntax */
@keyframes example {
  from {background-color: #E80000;}
  to {background-color: #ffcc00;}
}