<div class="text-center">
  <h2>Available tests</h2>
</div>
<div class="separator-div"></div>
<div class="large-12 small-12 medium-12 animated fadeInLeft" style="margin-top: 15px;">
  <div *ngFor="let test of availableTests"
    class="medium-5 small-12 large-3 float-left zoom-in test-card">  
    <mat-card [ngClass]="getStatusClass(test.status)">
      <div style="padding: 0.75rem 1.25rem;" class="clear-both">
        <div class="card-title large-12 small-12 medium-12 clear-both">
            <div class="small-7 medium-7 large-7 float-left" matTooltip="{{test.test.name}}" matTooltipPosition="above">
              <h4 class="ellipsis">{{test.test.name}}</h4>
            </div>
            <div class="small-5 medium-5 large-5 float-left test-status">
                <strong class="float-right">
                    {{test.status}}
                </strong>
            </div>
        </div>
        <mat-card-content>
          <p>{{test.test.description}}</p>
          <p>No of questions: {{test.noOfQuestions}}</p>
        </mat-card-content>
        <button class="float-right" mat-raised-button 
        [disabled]="test.status == 'COMPLETED' || test.status == 'INACTIVE'"
        [routerLink]="['instructions', test.id]">
        <span [ngSwitch]="test.status">
            <span *ngSwitchCase="'COMPLETED'">View results</span>
            <span *ngSwitchCase="'IN_PROGRESS'">Resume</span>
            <span *ngSwitchDefault>Start</span>
        </span>
      </button>
      </div>
    </mat-card>
  </div>
</div>