<div class="login-img">
    <div style="display: flex; align-items: center;height: 100%;justify-content: center;" class="animated fadeInLeft">
        <div class="medium-7 small-12 large-3" style="min-width: 465px; max-width: 600px;">    
            <img src="./assets/images/Openprise_Logo.png" class="op-logo">
            <mat-card>
                <h2 style="text-align: center">
                    <a routerLink="/login" title="Back to login"><i class="material-icons">arrow_back</i></a>
                    Register
                </h2>
                <form>
                    <mat-form-field>
                        <input matInput placeholder="First name" autofocus>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Last name">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Email">
                    </mat-form-field>                                        
                    <mat-form-field>
                        <input matInput placeholder="Password" type="Password">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Confirm password" type="Password">
                    </mat-form-field>
                    <button mat-raised-button routerLink=""
                        color="primary" style="width: 100%">Register
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>