<div class="login-img">
    <div class="middle-box" [@animationPanel] = 'state'>
        <div class="medium-12 small-12 large-12">    
            <img src="./assets/images/Openprise_Logo.png" class="op-logo">
            <mat-card>
                <h2 class="text-center card-title">
                    <a routerLink="/" title="Back to login"><i class="material-icons">arrow_back</i></a>
                    Register
                </h2>
                <form>
                    <mat-form-field>
                        <input matInput placeholder="Full name" autofocus>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Mobile">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Email">
                    </mat-form-field>                                        
                    <mat-form-field>
                        <input matInput placeholder="Password" type="Password">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Confirm password" type="Password">
                    </mat-form-field>
                    <button mat-raised-button routerLink=""
                        color="primary" style="width: 100%">Register
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>