<div class="admin-login-img">
    <div style="display: flex; align-items: center;height: 100%;justify-content: left; margin: 0 30px;" class="animated fadeInLeft">
        <div class="medium-7 small-12 large-3" style="min-width: 300px; max-width: 450px;">
           <!-- <div class="logo"></div> -->
            <h4 style="text-align: right; color: #ffff; font-weight: bold;">ADMIN LOGIN</h4>
            <hr/>
            <form class="admin-form">
                <mat-input-container>
                    <input matInput placeholder="Email" autofocus>
                    <i class="material-icons small-icons">person</i>
                </mat-input-container>
                <mat-input-container>
                    <input matInput placeholder="Password" type="Password">
                    <i class="material-icons small-icons">lock</i>
                </mat-input-container>
                <button mat-raised-button routerLink="/admindashboard" style="font-weight: bold;">Login
                </button>
            </form>
            <hr/>
        </div>
    </div>
</div>