.top-bar, .top-bar ul{
    background-color: #fff;
}
.top-bar{
    border-bottom: 4px solid #e7e7e7;
}
.row-content{
    margin-top: 100px;
}

.menu a{
    padding: 0;
}

.menu .menu-text{
    padding: 0.9rem 1rem;
}